-provide(:title, 'About Us')

%h1 LazyGrub is a site that was designed to connect people who wanted to order food with people who would be willing to deliver in exchange for tips. It was created by Theo Levine, but never finished.