-provide(:title, 'My Restaurants')

= link_to "Create a restaurant", new_restaurant_path, class: 'btn, btn-success btn-large'
<br><br>
-if @restaurants.length > 0 
	%h3 Which restaurant would you like to enter?
	%ul 
		-@restaurants.each do |rest|
			%li
				=link_to "Edit #{rest.name}", edit_restaurant_path(rest[:id])
				="  |  "
				=link_to "Manage Menu Items", restaurant_items_path(rest[:id])



