-provide(:title, 'Edit Item')

.item_form
  =simple_form_for @item, :html => {:method => :put}, :url => url_for(:action => 'update', :controller => 'items') do |f|
    =f.input :name, :label => 'Item name'
    =f.input :description, as: :text, :input_html => { :cols => 25, :rows => 5}, label: 'Order Description'
    =f.input :cost
    =f.submit value: 'Edit Item'
